.container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 1px solid;
  margin-top: 10%;
  box-shadow: 0 1px 1px 1px;
}

.todoHeader {
  display: flex;
  justify-content: space-between;
  min-height: 30px;
  padding: 5px 10px;
  align-items: center;
  border-bottom: 1px solid #8e8c8c;
}

h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.form-edit {
  display: none;
}

.form-input {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  align-items: center;
  min-height: 35px;
}

.form-input input {
  border: none;
  min-width: 75%;
  outline: none;
  min-height: 30px;
}

form {
  border-bottom: 1px solid #4b4848;
  margin-bottom: 5px;
}

.check-box {
  margin-right: 10px;
}

.todo-container {
  padding: 0 10px;
}

.todo {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo:not(:first-child) {
  margin-top: 5px;
}

.todo:last-child {
  padding-bottom: 5px;
}

.todo-item {
  display: flex;
  align-items: center;
}

.btn {
  padding: 2px 8px;
  cursor: pointer;
}

.clear-all {
  height: 30px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 30px;
  background-color: #f2f2f2;
  padding-left: 20px;
  cursor: pointer;
}

.clear-all p {
  color: #696262;
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}

::placeholder {
  font-size: 16px;
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#true {
  text-decoration: line-through;
  color: #696262;
}

.complete {
  text-decoration: line-through;
  color: #2b1d1d;
  font-weight: 900;
}

@media screen and (min-width: 800px) {
  .container {
    width: 40%;
  }
}
