.container {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  border: 2px solid white;
  margin-top: 10%;
  box-shadow: 0 1px 2px 3px;
}

.todoHeader {
  display: flex;
  justify-content: space-between;
  min-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid black;
  padding-right: 20px;
}

h2 {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
}

.edit-form {
  display: none;
}

.todoItem,
.formHeader {
  min-height: 40px;
  padding-left: 20px;
  border-bottom: 1px solid black;
  padding-top: 5px;
  padding-right: 20px;
}

.formHeader {
  display: flex;
  justify-content: space-between;
}

.taskInput,
.editInput {
  height: 40px;
  border: none;
  font-size: 20px;
  width: 100%;
  font-family: "Courier New", Courier, monospace;
}

.todoItem {
  display: flex;
  justify-content: space-between;
}

.todoActivity {
  display: inline;
}

.deleteItem {
  display: none;
}

::placeholder {
  font-size: 20px;
  padding: 0;
  margin: 0;
  font-weight: 100;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.clearAll {
  height: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 40px;
  background-color: #f2f2f2;
  padding-left: 20px;
}

.clearAll p {
  color: rgb(105, 98, 98);
  font-family: "Trebuchet MS", "Lucida Sans", Arial, sans-serif;
}

button {
  background-color: white;
  border: none;
}

#true {
  text-decoration: line-through;
  color: rgb(105, 98, 98);
}

.complete {
  text-decoration: line-through;
  color: rgb(43, 29, 29);
  font-weight: 900;
}

.edit {
  color: #00bcd4;
  font-size: 17px;
  margin-right: 20px;
}

.delete {
  font-size: 20px;
  color: red;
}

@media screen and (min-width: 800px) {
  .container {
    width: 40%;
  }
}
